body {
    background-color: $defaultBg;
}
.App {
    width: 500px;
    margin: 0 auto;
}
h1,h2,h3,h4,p {
    color: $heading;
}

.padding {
    padding: 1rem;
}
.padding-2 {
    padding: 2rem;
}

.margin {
    margin: 1rem;
}
.margin-2 {
    margin: 2rem;
}

.border-default {
    border: 1px solid $defaultBg;
}
.border-primay {
    border: 1px solid $primary;
}
.text-success {
    color: $successDeep;
}
.text-warning {
    color: $warningDeep;
}

.cursor-pointer {
    cursor: pointer;
}

