$defaultBg: #e9edf9;
$bodyBg: #8798ad;
$unselectedNav: #b0bac9;

// Text styles
$heading: #2e384d;
$headingSelected: #194787;

// primary
$primary: #0b6bf2;
$primaryDeep: #0243eb;
$primaryLight: #dbe9fd;

// info
$info: #00c1d4;
$infoDeep: #00a6c0;
$infoLight: #d9f6f9;

// success
$success: #2cc2a5;
$successDeep: #11a783;
$successLight: #e0f6f2;

// warning
$warning: #f7c137;
$warningDeep: #f3a618;
$warningLight: #fef6e1;

// danger
$danger: #e84a50;
$dangerDeep: #dc262b;
$dangerLight: #fce4e5;

// purple
$purple: #8c54ff;
$purpleDeep: #652eff;
$purpleLight: #eee6ff;

// Primary Button
$base-primary-neutral-color: #0b6bf2;
$base-primary-pressed-color: #0243eb;
$base-primary-inactive-color: #dbe9fd;

// Info Button
$base-info-neutral-color: #00c1d4;
$base-info-pressed-color: #00a6c0;
$base-info-inactive-color: #e0f6f2;

// Success Button
$base-success-neutral-color: #2cc2a5;
$base-success-pressed-color: #11a783;
$base-success-inactive-color: #e0f6f2;

// Warning Button
$base-warning-neutral-color: #f7c137;
$base-warning-pressed-color: #f3a618;
$base-warning-inactive-color: #fef6e1;

// Danger Button
$base-danger-neutral-color: #e84a50;
$base-danger-pressed-color: #dc262b;
$base-danger-inactive-color: #fce4e5;

// Default Button
$base-default-neutral-color: #8c54ff;
$base-default-pressed-color: #652eff;
$base-default-inactive-color: #eee6ff;