$defaultBg: #e9edf9;
$bodyBg: #8798ad;
$unselectedNav: #b0bac9;

// Text styles
$heading: #2e384d;
$headingSelected: #194787;

// primary
$primary: #0b6bf2;
$primaryDeep: #0243eb;
$primaryLight: #dbe9fd;

// info
$info: #00c1d4;
$infoDeep: #00a6c0;
$infoLight: #d9f6f9;

// success
$success: #2cc2a5;
$successDeep: #11a783;
$successLight: #e0f6f2;

// warning
$warning: #f7c137;
$warningDeep: #f3a618;
$warningLight: #fef6e1;

// danger
$danger: #e84a50;
$dangerDeep: #dc262b;
$dangerLight: #fce4e5;

// purple
$purple: #8c54ff;
$purpleDeep: #652eff;
$purpleLight: #eee6ff;