@import '__variables';
@import '__default';

.panel {
    @extend .border-default;
    @extend .padding;
    margin-top: 1rem;
    box-shadow: 0 0 3px $primaryDeep;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 1rem;
}
.list-view {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $unselectedNav;
    padding: 10px 0px;
    margin: 0;
}

